[user]
  email = git@gregoirege.is
  name = Grégoire Geis
[color]
  ui = true
[alias]
  a  = add -u
  au = add
  c  = commit
  cm = commit -m
  d  = diff
  o  = checkout
  ps = push
  pl = pull
  s  = status -uno
  su = status -unormal
[commit]
  gpgsign = true
